site_name: BIG documantation
site_author: a-kuznetsov
site_url: https://docs.imbig.ai
repo_url: https://github.com/a-kuz/big-docs
docs_dir: src
repo_name: GitHub
theme:
  name: material
  features:
    - content.tooltips

  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  icon:
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/squirrel-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16
nav:
  - Home: "index"
  - Requests:
      - Messaging:
          - New: "client-requests#new"
          - Edit: "client-requests#edit"
          - Delete: "client-requests#delete"
          - Delivered: "client-requests#dlvrd"
          - Read: "client-requests#read"
      - Retrieve Data:
          - Chat: "client-requests#chat"
          - Chats: "client-requests#chats"
          - Messages: "client-requests#messages"
  - Events:
      - Client Events: "client-events"
      - Server Events: "server-events"
  - Types:
      - Attachment: "types/attachment"
      - Message: "types/message"
      - Reply To: "types/reply-to"
      - Chat: "types/chat"
      - Chat List: "types/chat-list"
  - Guides:
      - Ping: "ping"
      - Dialog IDs: "dialog-ids"
      - Grouping Events by Key: "guides/grouping-events-by-key"
      - dlvrd/read marks rules: "guides/dlvrd-read-marks-rules"
      - Message Edit/Delete: "guides/message-edit-delete"
      - Examples: "examples"
  - HTTP and more:
      - Upload File: "upload"
      - HTTP API: "http-api"
      - Your network: "https://dev.iambig.ai/network"
plugins:
  - render_swagger:
      allow_arbitrary_locations: true
  - search
markdown_extensions:
  - attr_list
  - md_in_html
  - abbr
  - admonition
  - def_list
  - footnotes
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.smartsymbols
  - pymdownx.tilde
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - tables
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.details
  - pymdownx.blocks.details
  - pymdownx.snippets:
      auto_append:
        - "types/attachment"
        - "types/message"
        - "types/chat"
        - "types/chat-list"
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
